*.qmsg
*.cdb
*.hdb
*.rdb
*.ddb
*.xml
*.idb
*.logdb
*.db_info
*.hier_info
*.hif
*.html
*.txt
*.flock
*.nvd
*.sci
*.tdb
*.tmw_info
*.ammdb
*.kpt
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.pof
*.sld
*.sft
*.vo
*.xrf
~$glitchlog1.xlsx
